.meta-container {
  font-family: Arial, sans-serif;
    width: 170mm;
  min-height: 297mm;
}

.meta-name {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.meta-contact,
.meta-links {
  font-size: 10px;
  text-align: center;
}

/* new added */
.info-location{
    text-transform: capitalize;
}


.info-capital{
  text-transform: capitalize;
}

.info-skill{
  text-transform : capitalize;
}

.info-language{
  text-transform : capitalize;
}

.info-interest{
  text-transform: capitalize;
}

.info-project{
  text-transform: capitalize;
}

.info-internship{
  text-transform: capitalize;
}

.meta-section {
  margin-top: 15px;
  margin-bottom: 15px;
}

.meta-section-heading {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

.meta-list {
  font-size: 11px;
  text-align: justify;
}

.meta-item {
  font-size: 11px;
  margin-bottom: 10px;
}

.meta-text {
  font-size: 11px;
  text-align: justify;
}

.meta-bullets {
  font-size: 11px;
  text-align: justify;
  padding-left: 20px;
    list-style-type: disc; /* ✅ Add this */
}

.meta-dates {
  font-weight: bold;
}

.meta-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
