body{
  margin:0;
  padding:0;
}

.resume-inner {
  padding: 7mm;  /* reliable in PDF */
  box-sizing: border-box;
}


.template6-resume {
    width: 170mm;
  min-height: 297mm;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
    box-sizing: border-box;
}

/* HEADER */
.template6-header {
  background-color: #e94b35;
  color: white;
  text-align: center;
    padding: 20px;
}

.template6-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.template6-contact-info {
  font-size: 12px;
  margin-top: 8px;
}

.template6-contact-info span {
  margin: 0 6px;
}

/* SECTION LAYOUT */

.template6-summary-section {
  display: flex;
  align-items: flex-start;  
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.template6-summary-left {
  width: 40mm;
  font-weight: bold;
  color: #e94b35;
  font-size: 13px;
  text-transform: uppercase;
}

.template6-summary-right {
  flex:1;
}

.template6-summary-right p {
  margin: 0;
  line-height: 1;
  text-align: justify;
  font-size: 13px;
}

.template6-section {
  display: flex;
  align-items: flex-start;  
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.template6-section:last-child {
  border-bottom: none;
}

.template6-left {
  width: 40mm;        
  min-width: 40mm;
  font-weight: bold;
  color: #e94b35;
  font-size: 13px;
  text-transform: uppercase;  
}



.template6-right {
  flex:1;
  font-size: 13px;

  
}

/* EXPERIENCE */
.template6-projects ,.template6-experience {
  margin-bottom: 15px;
}

.template6-job-header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}

.template6-date {
  font-weight: normal;
  font-size:10px;
}

.template6-projects .template6-company {
  font-style: italic;
  font-size: 13px;
  margin-bottom: 6px;
}

.template6-company{
  text-transform: capitalize;
}

.template6-experience ul {
  margin: 0;
}

.template6-experience li {
  font-size: 12px;
  margin-bottom: 4px;
}

/* SKILLS */
.template6-skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
}

.template6-skill-item {
  margin-bottom: 4px;
}

/* EDUCATION */
.template6-education-degree {
  font-weight: bold;
  font-size: 13px;
}

.template6-school {
  font-style: italic;
  font-size: 12px;
}


/* certificaton section style  */
/* CERTIFICATIONS */
.template6-certification {
  font-size: 13px;
  margin-bottom: 6px;
}

.template6-certification:last-child {
  margin-bottom: 0;
}

/* achievement section */
/* ACHIEVEMENTS */
.template6-achievement {
  margin-bottom: 10px;
  font-size: 13px;
}

.template6-achievement-title{
    font-size: 13px;
  font-weight: bold;
       }                               



.template6-achievement-desc {
  font-size: 12px;
}
                                   
@media print {
    
     @page {
    size: A4;
    margin-top:5mm;
  }

  @page :first {
    margin:0mm;  
   
  }

  @page :not(:first) {
    margin-top: 5mm; 
    margin-bottom: 5mm;
  }
body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .template6-resume {
    width: 100%;
    min-height: 100vh;
    box-shadow: none;
  }

  .resume-inner {
    margin: 0mm 10mm 10mm 10mm;
    box-sizing: border-box;
  }

  .template6-header {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    page-break-after: avoid;
  }

  .template6-summary-section,
  .template6-section {
  
    orphans: 3;
    widows: 3;
  }

  .template6-experience,
  .template6-achievement {

    orphans: 2;
    widows: 2;
  }

  .template6-experience ul,
  .template6-achievement-desc {
    page-break-inside: auto;
    break-inside: auto;
  }



  .template6-skills-grid {
    break-inside: avoid;
  }

  .template6-job-header {
    page-break-after: avoid;
    break-after: avoid;
  }

  .template6-skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  li {
    margin-bottom: 4px;
  }
}
   